*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded',
  sans-serif;
}

::selection{
  /* background-color: #01BF71; */
  background-color: #4ebea4;
  color: #010606;
}